.gump-error-message {
  display: block;
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: red;
}

.donation-form .donation-amount-input {
  padding-right: 0;
}

.modal-body {
  font-size: 2rem;
}